[submodule "ComponentTemplateCore"]
	path = ComponentTemplateCore
	url=https://stash.lsstcorp.org/scm/ts/common_ct_coreuserevents.git
[submodule "ts_sallv_exa"]
	path = ts_sallv_exa
	url = https://stash.lsstcorp.org/scm/ts/ts_sallv_exa.git
[submodule "ss_sedspectrometer"]
	path = ss_sedspectrometer
	url = https://stash.lsstcorp.org/scm/ts/ss_sedspectrometer.git
[submodule "ts_sallv_sedspectrometer"]
	path = ts_sallv_sedspectrometer
	url = https://stash.lsstcorp.org/scm/ts/ts_sallv_sedspectrometer.git
